@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Criar Playlist";
}

<link rel="stylesheet" href="~/css/pages/Ouvinte/index.css" />

<div class="exibicao-musicas">
    <h3>Criar Playlist</h3>
    <div class="card-grid">
        <div class="musica-card">
            <form asp-action="Criar" asp-controller="Playlist" method="post">
                <div class="form-group">
                    <label for="nome">Nome da Playlist:</label>
                    <input type="text" name="nome" id="nome" class="form-control" required style="margin-bottom:10px;" />
                </div>
                <button type="submit" class="btn btn-primary">Criar</button>
            </form>
            @if (ViewBag.Erro != null)
            {
                <div class="alert alert-danger mt-2" style="margin-top:10px;">@ViewBag.Erro</div>
            }
        </div>
    </div>
</div>