@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
}

<div class="telas-inicias">
    <h1>Login</h1>

    <div class="input-telas-inicias">
        <form id="formLogin">
            <input type="email" id="email" name="email" required placeholder="Email" />
            <input type="password" id="senha" name="senha" required placeholder="Senha" />

            <div class="captcha">
                <label for="captcha">Digite o código:</label>
                <span style="font-weight:bold; font-size:1.2em;">@ViewBag.Captcha</span>
                <a href="@Url.Action("AtualizarCaptcha", "Login")" style="margin-left:10px;">Atualizar</a>
                <input type="text" id="captcha" name="captcha" required maxlength="6" />
            </div>

            <div id="loading" class="loading">
                <div class="spinner"></div>
                <div class="loading-text">Autenticando...</div>
            </div>

            <div id="mensagemErro" style="color: red; display: none;"></div>
            <div id="mensagemSucesso" style="color: green; display: none;"></div>

            <div class="botoes-telas-inicias">
                <button type="submit">Login</button>
                <a href="@Url.Action("Index", "Registro")">Registrar</a>
                <a href="@Url.Action("RecuperarConta")">Esqueceu a senha</a>
            </div>
        </form>
    </div>
</div>
