@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
    ViewData["Title"] = "Login";
}

<script src="~/js/login.js"></script>

@using (Html.BeginForm("Autenticar", "Login", FormMethod.Post))
{
    <div class="telas-inicias">

        <h1>Login</h1>

        <div class="input-telas-inicias">

            <form id="formLogin">
                <input type="email" id="email" name="email" required placeholder="Email" />

                <input type="password" id="senha" name="senha" required placeholder="Senha" />

                <div class="botoes-telas-inicias">
                    <button type="submit" onclick="return login()">Login</button>
                </div>
            </form>
        </div>
    </div>

    <div id="mensagemErro" style="color:red;"></div>
}
