<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoundFy</title>
    <link rel="stylesheet" href="@Url.Content("~/css/layouts/_loginlayout.css")" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/login.js"></script>
    <script src="~/js/recuperarSenha.js"></script> 
    <script src="~/js/validarCodigo.js"></script>
</head>

<body>
    @RenderBody()
</body>

</html>