body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
}

.telas-inicias {
  background-color: white;
  border-radius: 10px;
  width: 350px;
  padding: 40px;
  text-align: center;
}

.input-telas-inicias {
    display: flex;
    flex-direction: column;
    gap: 15px; 
}

.tipo-usuario {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
